@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@100;400;600&display=swap");
* {
  font-family: 'IBM Plex Sans KR', sans-serif;
}

* h1, * h2, * h3, * h4, * h5, * dl, * dt, * dd, * ul, * li, * span, * p {
  margin: 0;
  padding: 0;
}

* ul, * li {
  list-style: none;
}

body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.bg {
  width: 100%;
  padding: 90px 15vw 180px;
}

nav {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  padding: 1rem !important;
}

nav .container-fluid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center !important;
      -ms-flex-pack: center !important;
          justify-content: center !important;
}

#Diary .line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 2px dashed rgba(255, 255, 255, 0.1);
  padding: 12px;
}

#Diary .block {
  border-radius: 4px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 4px 4px;
  padding: 8px;
  min-height: 55px;
}

#Diary .block.choose {
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 8px 12px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#Diary .block.choose:hover {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border-color: #00ffff;
}

#Diary .block p {
  display: inline-block;
  font-size: 24px;
  font-weight: 100;
}

#Diary .block .form-range {
  min-width: 300px;
  margin-right: 12px;
}

#main2 {
  height: 100%;
}

#main2 .row {
  height: 100%;
  padding: 0px !important;
  --bs-gutter-x: 0;
  --bs-gutter-y: 0;
}

#main2 #profile {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  height: 70vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 3rem;
}

#main2 #profile .head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 2.5rem;
}

#main2 #profile .head .imgFrame {
  border-radius: 20rem;
  overflow: hidden;
  margin-right: 1rem;
}

#main2 #profile .head .imgFrame img {
  width: 7rem;
}

#main2 #profile .head dl dt {
  font-size: 2rem;
}

#main2 #profile .body {
  width: 100%;
}

#main2 #profile .body .input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#main2 #profile .body .input label {
  width: 5rem;
  margin-bottom: 0;
  font-size: 0.75rem;
}

#main2 #profile .body .input textarea {
  height: 86px;
}

#main2 #profile .body .input input, #main2 #profile .body .input select {
  padding: 0.375rem 0.75rem;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

#main2 #profile .body .input .col-group {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#main2 #profile .body .input .col-group .form-floating:first-of-type {
  margin-right: 0.5rem;
}

#main2 #profile .body .input .col-group .form-floating select {
  width: 100%;
  min-width: 8rem;
}

#main2 #profile .body button {
  width: 100%;
  padding: 0.75rem;
}

#main2 #profile.focusOut {
  cursor: pointer;
  height: 7vh;
  padding: 1rem;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

#main2 #profile.focusOut .head {
  margin-bottom: 0rem;
}

#main2 #profile.focusOut .head .imgFrame img {
  width: 3.5rem;
}

#main2 #profile.focusOut .head dl dt {
  font-size: 1.5rem;
}

#main2 #profile.focusOut .body {
  display: none;
}

@media (max-width: 992px) {
  #main2 #profile {
    height: 7vh;
    padding: 1rem;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  #main2 #profile .head {
    margin-bottom: 0rem;
  }
  #main2 #profile .head .imgFrame img {
    width: 3.5rem;
  }
  #main2 #profile .head dl dt {
    font-size: 1.5rem;
  }
  #main2 #profile .body {
    display: none;
  }
}

#main2 #list {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  height: 30vh;
}

#main2 #list.focusIn {
  height: 93vh;
}

#main2 #list.focusIn .body {
  height: calc(93vh - 75px);
}

#main2 #list .head {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding-top: 1rem;
  padding-right: 1rem;
  padding-left: 1rem;
  background-color: #f8f8f8;
}

#main2 #list .head li {
  width: 50%;
}

#main2 #list .head li button {
  width: 100%;
  padding: 1rem;
}

#main2 #list .body {
  height: calc(30vh - 75px);
  overflow-y: scroll;
}

#main2 #list .body .classify {
  width: 100%;
  padding: 1rem;
}

#main2 #list .body .classify button {
  margin: 0 0.2rem;
  border-radius: 5rem;
}

#main2 #list .body .tab-pane {
  padding-bottom: 10rem;
}

#main2 #list .body .list-group {
  border-radius: 0px;
}

#main2 #list .body .list-group .accordion-button:hover {
  background-color: #ECF7CC;
}

#main2 #list .body .list-group .list-group-item {
  padding: 1rem;
  padding-top: 1.5rem;
  border: none;
  background: transparent;
}

#main2 #list .body .list-group .list-group-item:active {
  background: transparent;
}

#main2 #list .body .list-group .list-group-item .more a {
  color: rgba(0, 0, 0, 0.3);
  text-decoration: none !important;
}

#main2 #list .body .list-group .list-group-item .more a:hover {
  color: #8BB120;
}

#main2 #list .body .list-group .list-group-item .point {
  color: #8BB120 !important;
}

#main2 #list .body .list-group .list-group-item-action:active {
  background-color: #ffffff;
}

#main2 #chat {
  height: 100%;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #f8f8f8;
}

#main2 .col1, #main2 .col2, #main2 .col3 {
  position: relative;
}

#main2 .col1 {
  z-index: 1000;
  -webkit-box-shadow: 7px 0px 12px 1px rgba(0, 0, 0, 0.1);
          box-shadow: 7px 0px 12px 1px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
}

#main2 .col2 {
  z-index: 100;
  background-color: #f8f8f8;
}

#main2 .col3 {
  background-color: #f8f8f8;
}

@media (max-width: 992px) {
  #main2 .col1 {
    height: 7%;
  }
  #main2 .col2 {
    height: 93%;
  }
  #main2 .col3 {
    height: 0%;
    display: none;
  }
  #main2 #profile {
    height: 100%;
  }
  #main2 #profile.focusOut {
    height: 100%;
  }
  #main2 #list {
    display: none;
  }
  #main2 #input {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
  }
}
/*# sourceMappingURL=style.css.map */